package main

templ Index() {
    <!DOCTYPE html>
    <html>
        <head>
            <title>My App</title>
            <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        </head>
        <body>
            <h1>Hello from templ!</h1>
        </body>
    </html>
}